<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>List Products</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<div class="container">
		<div th:if="${not #lists.isEmpty(products)}">
			<h2>Product List</h2>
			<table class="table table-striped">
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Catagory</th>
					<th>Price</th>
					<th>List</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>

				<tr th:each="product : ${products}">
					<td th:text="${product._id}"></td>
					<td th:text="${product.name}"></td>
					<td th:text="${product.catagory}"></td>
					<td th:text="${product.price}"></td>
					<td><a th:href="${'/product/show/' + product._id}">View</a></td>
					<td><a th:href="${'/product/edit/' + product._id}">Edit</a></td>
					<td><a th:href="${'/product/delete/' + product._id}">Delete</a>
					</td>
				</tr>
			</table>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<a href="/product/new">Add New Product</a>
			</div>
		</div>
	</div>
	<table class="simpletablestyle">
		<tr>
			<td>REST URL for all members: <a href="/rest/product"/>">/rest/products</a>
			</td>
		</tr>
	</table>

</body>
</html>